<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>Create massage</h1>
    <form action="" method="POST">
      <label for="title"
        >Title <input id="title" name="title" placeholder="title" type="text"
      /></label>
      <label for="content">Content</label>
      <textarea name="content" rows="5" cols="25"></textarea>
      <button>Create massage</button>
    </form>
  </body>
</html>
