<body>
  <h1>Create massage</h1>
  <form action="" method="POST">
    <label for="title"
      >Title <input id="title" name="title" placeholder="title" type="text"
    /></label>
    <label for="content">Content</label>
    <textarea id="content" name="content" rows="5" cols="25"></textarea>
    <button>Create massage</button>
    <a href="/">Go back</a>
  </form>
  <% if (errors) {%>
    <ul>
      <% errors.forEach(err => {%>
          <li><%=err.msg%></li>
        <%})};%>
    </ul>
</body>

