<h1>Join club</h1>
<h2>To join club submit special password</h2>
<form action="" method="POST">
  <label for="password">Password</label>
  <input id="password" name="password" type="password" />
  <button>Sign Up</button>
  <a href="/">Go back</a>
</form>
